<div class="h-full overflow-hidden">
  <div
    class="h-full z-0 hover:z-10 hover:scale-105 shadow-lg hover:shadow-xl transition ease-in-out"
    [routerLink]="['/devices/' + deviceId]"
  >
    <div class="relative flex flex-row justify-center">
      <div>
        <img class="w-full h-auto" [src]="imgBlob" loading="lazy" *ngIf="imgBlob" />
        <app-skeleton width="390px" height="390px" *ngIf="!imgBlob"></app-skeleton>
      </div>
      <div class="absolute top-0 left-0 right-0 bottom-0 flex items-center justify-center">
        <p class="text-primary text-5xl font-bold rotate-45">{{ deviceName }}</p>
      </div>
    </div>
  </div>
</div>
